.dd-wrapper {
  user-select: none;
  position: relative;

  .dd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 38px;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    padding: 0px 9px;

    .dd-header-title {
      font-weight: 300;
      margin-right: 1rem;
    }

    img {
      width: 1rem;
    }
  }

  .dd-list {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    max-height: 230px;
    overflow-y: scroll;

    background-color: $dard-gray;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

    .dd-list-item {
      padding: 0.75rem 0;
      cursor: pointer;

      &.selected,
      &:hover,
      &:focus {
        color: $white;
        text-shadow: 0 0 5px white, 0 0 2px $bright-orange;
      }
    }
  }
}
