@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'grid.scss';
@import 'components/indicator.scss';
@import 'components/button.scss';
@import 'components/dropdown.scss';
@import 'components/cardList.scss';

/* * * * * * * * * * * * * * * * * * * * * * *
		common
* * * * * * * * * * * * * * * * * * * * * * */
body {
  font-size: 16px;
  color: $textColor;
  background: $bgColor;
  min-height: 100vh;
  font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif;
}

img {
  width: 100%;
}

h1,
h2 {
  font-weight: 400;
}

a {
  background: 0 0;
  text-decoration: none;
  border: none;
  outline: 0;

  &:active,
  &:hover {
    outline: 0;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * *
		body
* * * * * * * * * * * * * * * * * * * * * * */
.body {
  background-color: $bgColor;
  position: relative;
  background: linear-gradient(to bottom, $bgColor 0%, $bgColor-bottom 100%);
}

/* * * * * * * * * * * * * * * * * * * * * * *
		header
* * * * * * * * * * * * * * * * * * * * * * */
.b-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  @include size(100%, 55px);
  padding: 15px 0;
  background-color: $bgColor;
  background: linear-gradient(to bottom, $bgColor 70%, $transparent 100%);

  //* * * * * .inner * * * * */
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  //* * * * * .logo * * * * */
  .logo {
    width: 350px;

    //* * * * * .branch-name * * * * */
    .branch-name {
      width: 50px;
      height: 50px;
      background-color: $white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 85%;
      }
    }

    //* * * * * .name * * * * */
    h1.name {
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      margin-left: 1rem;
    }
    a {
      transition: all 0.3s ease-out;
      color: $white;
      display: flex;
      align-items: center;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  //* * * * * .btns * * * * */
  .btns {
    .btn img {
      display: none;
    }
  }
}

/* * * * * * * * * * * * * * * * * * * * * * *
		main
* * * * * * * * * * * * * * * * * * * * * * */
.b-main {
  position: relative;
  padding: 90px 0;
  background-color: $bgColor;

  /* * * * * .title-area * * * * */
  .title-area {
    width: 100%;
    margin: 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* * * * * .title * * * * */
    .title {
      line-height: 1;
      margin-top: 9px;
      margin-bottom: 3px;
      padding-right: 15px;
      letter-spacing: 0.02em;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .b-header {
    .logo {
      width: 80%;

      .branch-name {
        @include size(25px);
      }
    }

    .btns {
      .btn {
        border-radius: 50%;
        @include size(4rem);

        span {
          display: none;
        }
        img {
          display: block;
          width: 2rem;
          margin-left: 3px;
        }
      }
    }
  }
}
