@import 'variables.scss';
@import 'mixins.scss';
@import 'reset.scss';
@import 'grid.scss';

h1,
h2 {
  color: $white;
}

// .container {
//   //   display: -webkit-flex;
//   //   display: flex;
//   //   -webkit-flex-flow: row wrap;
//   //   flex-flow: row wrap;
//   position: relative;
// }

// .card__list {
//   border: 1px solid #111;
//   position: absolute;
//   top: 15px;
//   bottom: 15px;
//   left: 0;
//   right: 0;
// }

.body {
  background-color: $bgColor;
}

.b-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  padding: 15px 0;
  background-color: $bgColor;

  .header-inner {
    position: relative;
    width: 100%;
    height: 100%;

    .branch-name {
      text-transform: uppercase;
    }
  }
}

.b-main {
  position: relative;
  padding: 60px 0;
}
