// $textColor: #333;
// $bgColor: #fae6eb;
$bgColor: #1e243a;
$bgColor-bottom: #343b61;
$textColor: #fff;

$white: #fff;

$pink: #f72f67;
$pink-dark: #de2a5c;
$gray: #b8c2cc;

$refspacings: 0, 0.25, 0.5, 0.75, 1, 1.25;
